/* CSS crunched with Crunch - http://crunchapp.net/ */
body {
  background-color: #DCA36C;
  /*
	background-image: linear-gradient(top, rgb(184,31,14), rgb(120,18,5) 60px);
	background-image: -o-linear-gradient(top, rgb(184,31,14), rgb(120,18,5) 60px);
	background-image: -moz-linear-gradient(top, rgb(184,31,14), rgb(120,18,5) 60px);
	background-image: -webkit-linear-gradient(top, rgb(184,31,14), rgb(120,18,5) 60px);
	background-image: -ms-linear-gradient(top, rgb(184,31,14), rgb(120,18,5) 60px);
	*/
  color: #000;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
}
a {
  color: #043D4A;
}
a:active {
  background-color: #8A352A;
}
a:hover {
  text-decoration: none;
  color: #000;
}
a.comment-reply-link {
  border: 1px solid #000;
  border-radius: 3px;
  padding: 3px 8px;
  text-decoration: none;
  background-color: #EEE;
  color: #000;
}
cite.fn {
  margin-left: 6px;
}
footer {
  margin-bottom: 3em;
}
h4.comment-headline,
#reply-title {
  background-color: #DCA36C;
  padding: 5px;
  border-radius: 3px;
}
input[type=text] {
  border-radius: 3px;
}
.alignright {
  float: right;
  padding-left: 10px;
  padding-bottom: 10px;
}
.comment-author {
  margin-bottom: 1.5em;
}
.comment-author img {
  vertical-align: text-top;
}
.comment-meta {
  margin-bottom: 1.5em;
}
.comment-body {
  margin-bottom: 3em;
  position: relative;
}
.comment-list,
ul.children {
  list-style: none;
}
.entry-content {
  padding-top: 20px;
  background-color: #FFF;
  color: #000;
  margin-bottom: 1.5em;
}
.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6 {
  color: #000;
}
.entry-meta {
  text-align: center;
  margin-top: 20px;
}
.entry-meta a {
  color: #000;
}
.entry-text a {
  color: #783E05;
}
.entry-text a:active {
  background-color: #DC796C;
}
.entry-text a:hover {
  text-decoration: none;
  color: #640431;
}
.entry-pager {
  margin-top: 1em;
  border-top: 1px solid #CCC;
}
.headline {
  margin-top: 0;
}
.headline a {
  color: #000;
  text-decoration: none;
}
.headline a:hover {
  color: #640431;
}
.headline a:active {
  background-color: #DC796C;
}
.menu ul {
  list-style: none;
}
.menu ul li {
  float: left;
  margin-left: 24px;
}
.nav-list li a {
  color: #dca36c;
}
.nav-icon-list {
  list-style: none;
}
.nav-icon-list li {
  float: left;
}
.nav-icon-list li a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
#commentform input {
  display: block;
}
#commentform textarea {
  display: block;
}
#masthead {
  margin-top: 2em;
}
#main-nav {
  background-color: #B8220E;
  color: #FFF;
  margin-bottom: 3em;
}
#main-nav a {
  color: #FFF;
}
#footer-content {
  text-align: center;
}
#page-nav-content {
  text-align: center;
  background-color: #B8220E;
  margin-bottom: 1.5em;
}
#page-nav-content a {
  color: #FFF;
}
#search-input {
  border-radius: 3px;
}
#title {
  margin-top: 0;
}
#title a {
  color: #000;
  text-decoration: none;
}
#subtitle {
  margin-top: 0;
}
.screen-reader-text {
  display: none;
}
.navbar-default {
  background-color: #B8220E;
  background-image: none;
  border-color: #B8220E;
}
.navbar-default .navbar-nav > li > a {
  color: #FFF;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #FFF;
  text-decoration: underline;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover {
  background-color: #B8220E;
  background-image: none;
  border-color: #B8220E;
  color: #FFF;
}
.navbar-default .navbar-brand {
  color: #FFF;
}
.navbar-default .navbar-brand:hover {
  color: #FFF;
  text-decoration: underline;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #FFF;
}
