body {
	background-color: #DCA36C;
	/*
	background-image: linear-gradient(top, rgb(184,31,14), rgb(120,18,5) 60px);
	background-image: -o-linear-gradient(top, rgb(184,31,14), rgb(120,18,5) 60px);
	background-image: -moz-linear-gradient(top, rgb(184,31,14), rgb(120,18,5) 60px);
	background-image: -webkit-linear-gradient(top, rgb(184,31,14), rgb(120,18,5) 60px);
	background-image: -ms-linear-gradient(top, rgb(184,31,14), rgb(120,18,5) 60px);
	*/
	color: #000;
}

h1, h2, h3, h4, h5, h6 {
	color: #000;
}

a {
	color: #043D4A;
}

a:active {
	background-color: #8A352A;
}

a:hover {
	text-decoration: none;
	color: #000;
}

a.comment-reply-link {
	border: 1px solid #000;
	border-radius: 3px;
	padding: 3px 8px;
	text-decoration: none;
	background-color: #EEE;
	color: #000;
}

cite.fn {
	margin-left: 6px;
}

footer {
	margin-bottom: 3em;
}

h4.comment-headline, #reply-title {
	background-color: #DCA36C;
	padding: 5px;
	border-radius: 3px;
}

input[type=text] {
	border-radius: 3px;
}

.alignright {
	float: right;
	padding-left: 10px;
	padding-bottom: 10px;
}

.comment-author {
	margin-bottom: 1.5em;
	img {
		vertical-align: text-top;
	}
}

.comment-meta {
	margin-bottom: 1.5em;
}

.comment-body {
	margin-bottom: 3em;
	position: relative;
}

.comment-list, ul.children {
	list-style: none;
}

.entry-content {
    padding-top: 20px;
	background-color: #FFF;
	color: #000;
	margin-bottom: 1.5em;
	h1, h2, h3, h4, h5, h6 {
		color: #000;
	} 
}

.entry-meta {
	text-align: center;
	margin-top: 20px;
	a {
		color: #000;
	}
}

.entry-text {
	a {
		color: #783E05;
	}
	a:active {
		background-color: #DC796C;
	}
	a:hover {
		text-decoration: none;
		color: #640431;
	}
}

.entry-pager {
    margin-top: 1em;
    border-top: 1px solid #CCC;
}

.headline {
    margin-top: 0;
	a {
		color: #000;
		text-decoration: none;
	}
	a:hover {
		color: #640431;
	}
	a:active {
		background-color: #DC796C;
	}
}

.menu {
	ul {
		list-style: none;
		li {
			float: left;
			margin-left: 24px;
		}
	}
}


.nav-list li a {
	color: #DCA36C
}

.nav-icon-list {
	list-style: none;
	li {
		float: left;
		a {
		    position: relative;
		    display: block;
		    padding: 10px 15px;
		}
	}
}


#container {
}

#content {
}

#commentform {
	input {
		display: block;
	}
	textarea {
		display: block;
	}
}

#masthead {
    margin-top: 2em;
}

#masthead-title {
}

#main-nav {
	background-color: #B8220E;
	color: #FFF;
	margin-bottom: 3em;
	a {
		color: #FFF;
	}
}

#page-nav {
}

#footer-content {
	text-align: center;
}

#page-nav-content {
	#footer-content;
	background-color: #B8220E;
	margin-bottom: 1.5em;
	a {
		color: #FFF;
	}
}

#page-nav-spacer, #footer-spacer {
}

#search-box {
}

#search-input {
	border-radius: 3px;
}

#sidebar-1 {
}

#social-list {
}

#title {
    margin-top: 0;
    a {
	    color: #000;
    	text-decoration: none;
    }
}

#subtitle {
    margin-top: 0;
}

.screen-reader-text {
	display: none;
}

.navbar-default {
	background-color: #B8220E;
    background-image: none;
    border-color: #B8220E;
    .navbar-nav>li>a {
    	color: #FFF;
    }
    .navbar-nav>li>a:hover {
        color: #FFF;
        text-decoration: underline;
    }
    .navbar-nav>.active>a, .navbar-nav>.active>a:hover {
    	background-color: #B8220E;
        background-image: none;
        border-color: #B8220E;
        color: #FFF;
    }
    .navbar-brand {
    	color: #FFF;
    }
    .navbar-brand:hover {
        color: #FFF;
        text-decoration: underline;
    }
    .navbar-toggle {
        .icon-bar {
            background-color: #FFF;
        }
    }
}

    